{% extends 'base.html'%}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>

{% endblock %}


{% block body %}

<div class="container-xxl ">
    <div class="row py-5 justify-content-center">
        
        <div class="text-center col-md-auto" style="width: 550px;">
            <h2 class="text-center">Balance of <em class="fw-bold">${{user["balance"]}}</em></h2>
            <canvas id="lineChart"></canvas>
        </div>
    </div>

    <div class="row py-3">
        <div class="offset-md-2 col-md-auto" style="width: 300px;">
            <h3 class="text-center">Income Type </h3>
            <hr>
            <canvas id="incomePieChart"></canvas>
        </div>
        <div class="text-center offset-md-2 col-md-auto" style="width: 300px;">
            <h3 class="text-center">Expense Type </h3>
            <hr>
            <canvas id="expensePieChart"></canvas>
        </div>
    </div>
    
</div>

<script>
    (async function() {

    //line chart
    
    var lineElement =  document.getElementById('lineChart');

    const lineLabels = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
    ];
    
    const lineData = {
        labels : lineLabels,
        datasets : [{
            label: 'End of Month Balance',
            data: {{ user['months'] }},
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
            
    };
      

    const lineGraph = new Chart(
        lineElement,
      {
        type: 'line',
        
        data: lineData,
        
        options: {
            responsive : true,
            scales: {
                x: {
                    title: {
                    display: true,
                    text: 'Months',
                    }
                },
                
                y: {
                    beginAtZero: true,
                    title: {
                    display: true,
                    text: 'Balance In Dollars'
                    }
                }
            
            }
        }
        
    }
    );

    //end line chart


    //income type pie chart

    var incomePieElement =  document.getElementById('incomePieChart');

    const incomePieLabels = [
        'Wire', 'Cash', 'Check'
    ];
    
    const incomePieData = {
        labels : incomePieLabels,
        datasets : [{
            label: 'Amount',
            data: [ {{ user['income_types']['Wire']}} , {{ user['income_types']['Cash']}} , {{ user['income_types']['Check']}} ],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            hoverOffset : 4
        }]
            
    };
      

    const incomePieGraph = new Chart(
        incomePieElement,
      {
        type: 'pie',
        
        data: incomePieData,
        
        
    }
    );

    //end of income pie chart






    //expense pie chart


    var expensePieElement =  document.getElementById('expensePieChart');

    const expensePieLabels = [
        'Wire', 'Cash', 'Check'
    ];
    
    const expensePieData = {
        labels : expensePieLabels,
        datasets : [{
            label: 'Amount',
            data: [ {{ user['expense_types']['Wire']}} , {{ user['expense_types']['Cash']}} , {{ user['expense_types']['Check']}} ],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
            
    };
      

    const expensePieGraph = new Chart(
        expensePieElement,
      {
        type: 'pie',
        
        data: expensePieData,
        
        
    }
    );


    //end of expense pie chart
    
  })();
</script>

{% endblock %} 