{% extends 'base.html'%}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>

{% endblock %}


{% block body %}

<div class="container-xxl ">
    <div class="row py-3">
        <div class="text-center offset-md-6 col-md-auto" style="width: 550px;"><canvas id="lineChart"></canvas></div>
    </div>
    
</div>

<script>
    (async function() {

    //line chart
    
    var lineElement =  document.getElementById('lineChart');

    const lineLabels = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
    ];
    
    const lineData = {
        labels : lineLabels,
        datasets : [{
            label: 'End of Month Balance',
            data: {{ user['months'] }},
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
            
    };
      

    const lineGraph = new Chart(
        lineElement,
      {
        type: 'line',
        
        data: lineData,
        
        options: {
            responsive : true,
            scales: {
                x: {
                    title: {
                    display: true,
                    text: 'Months',
                    }
                },
                
                y: {
                    beginAtZero: true,
                    title: {
                    display: true,
                    text: 'Balance In Thousands of Dollars'
                    }
                }
            
            }
        }
        
    }
    );

    //end line chart


    
  })();
</script>

{% endblock %} 