{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row py-3 justify-content-center">
        <div class="col-md-auto">
            <h1 class="text-center">Finance Calculator App</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <p class="text-center">This is a Finance Calculator app that allows users to see their balance, edit their income and spending details. 
                Then the program generates income data and graphs that allows users to see their earnings.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <p class="text-center">In order to use our app, users must <br> 
                <a onclick="googleLogin()" class="btn btn-outline-dark form-inline">Log In</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-end">
            <p class="text-end">
                - made by students Prateek Kalusani, Yaozhou Xiong, and Shreyas Sindhaval
            </p>
        </div>
    </div>
</div>


{% endblock %}