{% extends 'base.html'%}

{% block head %}
<script>
    function filterIncome() {
        // Get the values from the search input and checkboxes
        let search = document.getElementById("incomeSearch");
        let filter = search.value.toUpperCase();
        

        let wire = document.getElementById("wireIncome");
        let cash = document.getElementById("cashIncome");
        let check = document.getElementById("checkIncome");

        // Get all the income input fields
        let inputFields = document.querySelectorAll(".income_input_field");

        // Loop through each input field
        for (let i = 0; i < inputFields.length; i++) {
            let input = inputFields[i].querySelector("#income_name");
            let type = inputFields[i].querySelector("select[name='type[]']");

            // Get the transaction name and type
            let txtValue = input.value.toUpperCase();
            let typeValue = type ? type.value.toUpperCase() : "";

            // Check if both the search term and filter condition are met
            if (
                (txtValue.indexOf(filter) !== -1) &&  // Name search
                ((wire.checked && typeValue === "WIRE") || 
                (cash.checked && typeValue === "CASH") || 
                (check.checked && typeValue === "CHECK") ||
                (!wire.checked && !cash.checked && !check.checked))  // Type filter
            ) {
                inputFields[i].style.display = "";  // Show if matched
            } else {
                inputFields[i].style.display = "none";  // Hide if not matched
            }
        }   
    }


    function searchExpense() {
        // Get the values from the search input and checkboxes
        let search = document.getElementById("expenseSearch");
        let filter = search.value.toUpperCase();
        let wire = document.getElementById("wireExpense");
        let cash = document.getElementById("cashExpense");
        let check = document.getElementById("checkExpense");

        // Get all the income input fields
        let inputFields = document.querySelectorAll(".expense_input_field");

        // Loop through each input field
        for (let i = 0; i < inputFields.length; i++) {
            let input = inputFields[i].querySelector("#expense_name");
            let type = inputFields[i].querySelector("select[name='type[]']");

            // Get the transaction name and type
            let txtValue = input.value.toUpperCase();
            let typeValue = type ? type.value.toUpperCase() : "";

            // Check if both the search term and filter condition are met
            if (
                (txtValue.indexOf(filter) !== -1) &&  // Name search
                ((wire.checked && typeValue === "WIRE") || 
                (cash.checked && typeValue === "CASH") || 
                (check.checked && typeValue === "CHECK") ||
                (!wire.checked && !cash.checked && !check.checked))  // Type filter
            ) {
                inputFields[i].style.display = "";  // Show if matched
            } else {
                inputFields[i].style.display = "none";  // Hide if not matched
            }
        }
    }



</script>
{% endblock%}

{% block body %}
<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-auto">
            <h6>You have <span class="h1">${{user["balance"]}}</span></h4>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-6 text-center" id="income_form">
            <div class="row justify-content-start">
                <div class="col-md-3 offset-md-3">
                    <h3>Income</h3>
                </div>
                
                <div class="col-md-3 offset-md-1">
                    <input  class="form-control" type="search" aria-label="Search" id="incomeSearch" onkeyup="filterIncome()" placeholder="Search for name">
                </div>

                <div class="dropdown col-md-auto">
                    <a class="btn btn-light dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="{{url_for('static',filename='filter.png')}}" alt="filter" style="width:25px; height: 25px;">
                    </a>
                  
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                        <li>
                        <input type="checkbox" id="wireIncome" value="wire" onchange="filterIncome()">
                        <label for="">Wire</label>
                        </li>

                        <li>
                            <input type="checkbox" id="checkIncome" value="check" onchange="filterIncome()">
                            <label for="">Check</label>
                        </li>

                        <li>
                            <input type="checkbox" id="cashIncome" value="cash" onchange="filterIncome()">
                            <label for="">Cash</label>
                        </li>
                      
                    </ul>
                </div>

            </div>
            <hr>
            <div class="row justify-content-center income_input_field">
                <div class="form-group col-md-3 py-1">
                    <label for="Transaction_Name" class="fw-bold" >Transaction Name</label> 
                    <input name = "name[]" class="form-control" value="Null" placeholder="paycheck , cash" id="income_name">

                </div>
                <div class="form-group col-md-2 py-1">
                    <label for="inputState" class="fw-bold" >Type</label>
                    <select id="inputState" name = "type[]" class="form-select incomeType">
                        <option value="Cash">Cash</option>
                        <option value="Check">Check</option>
                        <option selected value="Wire">Wire</option>
                    </select>
                </div>
                <div class="form-group col-md-2 py-1">
                    <label for="amount" class="fw-bold">$Amount</label>
                    <input id="input_field" type="number" name = "amount[]" class="form-control" value=100></input>
                </div>

                <div class="form-group col-md-auto py-1">
                    <label for="amount" class="fw-bold">Date</label>
                    <input id="input_field" type="date" name = "date[]" class="form-control" value=100></input>
                </div>
                
                <div class="py-4 ps-1 col-md-1">
                    <button class="btn btn-success"id="add_income_btn"><span>Add</span></button>
                </div>
            </div> 
            
        </div>
        <div class="col-md-6 text-center" id="expense_form">
            <div class="row justify-content-start">
                <div class="col-md-3 offset-md-3">
                    <h3>Expenses</h3>
                </div>
                <div class="col-md-3 offset-md-1">
                    <input  class="form-control" type="search" aria-label="Search" id="expenseSearch" onkeyup="searchExpense()" placeholder="Search for name">
                </div>

                <div class="dropdown col-md-auto">
                    <a class="btn btn-light dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="{{url_for('static',filename='filter.png')}}" alt="filter" style="width:25px; height: 25px;">
                    </a>
                  
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                        <li>
                        <input type="checkbox" id="wireExpense" value="wire" onchange="searchExpense()">
                        <label for="">Wire</label>
                        </li>

                        <li>
                            <input type="checkbox" id="checkExpense" value="check" onchange="searchExpense()">
                            <label for="">Check</label>
                        </li>

                        <li>
                            <input type="checkbox" id="cashExpense" value="cash" onchange="searchExpense()">
                            <label for="">Cash</label>
                        </li>
                      
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center expense_input_field">
                <div class="form-group col-md-3 py-1">
                    <label for="Transaction_Name" class="fw-bold" >Transaction Name</label>
                    <input name = "name[]" class="form-control" value="Null" placeholder="paycheck , cash" id="expense_name">
                </div>
                
                <div class="form-group col-md-2 py-1">
                    <label for="inputState" class="fw-bold" >Type</label>
                    <select id="inputState" name = "type[]" class="form-select expenseType">
                        <option value="Cash">Cash</option>
                        <option value="Check">Check</option>
                        <option selected value="Wire">Wire</option>
                    </select>
                </div>

                <div class="form-group col-md-2 py-1">
                    <label for="amount" class="fw-bold">$Amount</label>
                    <input id="input_field" type="text" name="amount[]" class="form-control" value="100"></input>
                </div>

                <div class="form-group col-md-auto py-1">
                    <label for="amount" class="fw-bold">Date</label>
                    <input id="input_field" type="date" name = "date[]" class="form-control" value=100></input>
                </div>

                <div class="py-4 ps-1 col-md-1">
                    <button class="btn btn-danger"id="add_expense_btn"> <span>Add</span></button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function(webpage){

        
        $("#add_income_btn").click(function(addNewIncome){

            addNewIncome.preventDefault();

            $("#income_form").append(
                `
                <div class="row justify-content-center  income_input_field">
                    <div class="form-group col-md-3 py-1">
                        <label for="Transaction_Name" class="fw-bold" >Transaction Name</label>
                        <input name = "name[]" class="form-control" value="Null" placeholder="paycheck , cash" id="income_name">
                    </div>
                    <div class="form-group col-md-2 py-1">
                        <label for="inputState" class="fw-bold" >Type</label>
                        <select id="inputState" name = "type[]" class="form-select incomeType">
                            <option value="Cash">Cash</option>
                            <option value="Check">Check</option>
                            <option selected value="Wire">Wire</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2 py-1">
                        <label for="amount" class="fw-bold">$Amount</label>
                        <input id="input_field" type="number" name = "amount[]" class="form-control" value=100></input>
                    </div>

                    <div class="form-group col-md-auto py-1">
                        <label for="amount" class="fw-bold">Date</label>
                        <input id="input_field" type="date" name = "date[]" class="form-control" value=100></input>
                    </div>
                    
                    <div class="py-4 ps-1 col-md-1">
                        <button class="btn btn-outline-success"id="remove_item_btn"><span>Remove</span></button>
                    </div>
                </div> 
                `
            )

        })

        //adding an expense line
        $("#add_expense_btn").click(function(addNewExpense){

            addNewExpense.preventDefault();

            $("#expense_form").append(
                `
                <div class="row justify-content-center expense_input_field">
                <div class="form-group col-md-3 py-1">
                    <label for="Transaction_Name" class="fw-bold" >Transaction Name</label>
                    <input name = "name[]" class="form-control" value="Null" placeholder="paycheck , cash" id="expense_name">
                </div>
                
                <div class="form-group col-md-2 py-1">
                    <label for="inputState" class="fw-bold" >Type</label>
                    <select id="inputState" name = "type[]" class="form-select expenseType">
                        <option value="Cash">Cash</option>
                        <option value="Check">Check</option>
                        <option selected value="Wire">Wire</option>
                    </select>
                </div>

                <div class="form-group col-md-2 py-1">
                    <label for="amount" class="fw-bold">$Amount</label>
                    <input id="input_field" type="number" name = "amount[]" class="form-control" value=100></input>
                </div>

                <div class="form-group col-md-auto py-1">
                    <label for="amount" class="fw-bold">Date</label>
                    <input id="input_field" type="date" name = "date[]" class="form-control" value=100></input>
                </div>

                <div class="py-4 ps-1 col-md-1">
                    <button class="btn btn-outline-danger"id="remove_item_btn"><span>Remove</span></button>
                </div>
            </div>
                `
            )

        })

        $(document).on('click',"#remove_item_btn", function(current){
            current.preventDefault();

            let form_field = $(this).parent().parent();
            $(form_field).remove()
        })

    })
</script>
{% endblock %} 